p {
  font-family: arial;
  margin: 0;
  width: 500px;
  line-height: 22px;
}
.domain {
  font-weight: bold;
  margin-bottom: 10px;
}
.tag {
  font-weight: lighter;
  color: gray;
}
.tweet {
  margin-bottom: 18px;
}
.user-tag {
  color: rgb(69, 129, 240);
}
